<header>
  <div class="logo" style="font-size: 1.8em;">Vibing<span>SG</span></div>
  <nav>
    <a href="/">Home</a>
    <a href="/toolkits">Resources</a>
    <a href="/support">Helpline</a>
  </nav>
</header>
