<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Support - VibingSG</title>
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MNL58M3HNB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MNL58M3HNB');
</script>
</head>
<body>
  <%- include('../partials/header') %>

  <main>
    <h2 style="color: #7b2ff7;">We're here to help</h2>
    <div class="support-grid">
      <div class="support-card">
        <img src="/images/Helpline.png" alt="Support Thumbnail" style="width: 80%; max-width: 300px; display: block; margin: 0 auto 15px; border-radius: 10px;">
        <h3>Mindline.sg</h3>
        <p>Mindline.sg provides support for any help you need with mental health.</p>
        <p><strong><a href="tel:63892222">Call 6389-2222</a></strong></p>
      </div>

      <div class="support-card">
        <img src="/images/Helpline.png" alt="Support Thumbnail" style="width: 80%; max-width: 300px; display: block; margin: 0 auto 15px; border-radius: 10px;">
        <h3>TOUCHline</h3>
        <p>TOUCH provides counselling support for youths facing emotional and mental health challenges.</p>
        <p><strong><a href="tel:18003772252">Call 1800-377-2252</a></strong></p>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>
